name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: [ubuntu-latest, macos-latest]
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install the project with all "dev" dependencies
        pip install.[dev]

    - name: Lint and Format Check with Ruff
      run: |
        ruff format --check.
        ruff check.

    - name: Test with pytest
      run: |
        pytest

